* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --primary-color: #51648e;
    --primary-color-dark: #384e81;
    --secondary-color: #dbcbe6;
    --secondary-color-dark: #b9b0c0;
    --tertiary-color: #848e51;
    --neutral-color: #F8F9FA;

    --bg-main: var(--neutral-color);
    --bg-sidebar: var(--primary-color);
    --bg-card: #ffffff;
    --text-dark: #2e4375;
    --text-light: #f8f9fa;
    /*dark mode: #212529*/

}

html {
    scroll-behavior: smooth;
    min-height: 100vh;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-main);
    color: var(--text-dark);
}

/* SIDEBAR */
.sidebar {
    background-color: var(--bg-sidebar);
    color: var(--text-light);
    padding: 30px 20px;
    box-shadow: 2px 0 10px rgba(28, 58, 90, 0.1);
}

.sidebar .logo h2 {
    color: var(--text-light);
    font-weight: 700;
    letter-spacing: 1px;
}

.sidebar .logo {
    margin-bottom: 40px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 20px;
}

.sidebar nav ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar nav a {
    color: #cbd5e1;
    display: block;
    padding: 12px 15px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.sidebar nav a:hover,
.sidebar nav a.active {
    color: var(--text-light);
    background-color: var(--secondary-color);
    font-weight: 600;
    color: var(--text-dark);
}

/* CONTEÚDO PRINCIPAL */
main {
    flex: 1;
}

h1 {
    font-size: 2rem;
    color: var(--deep-navy);
    margin-bottom: 10px;
}

.welcome-text {
    color: #616e7c;
    margin-bottom: 30px;
}

/* ESTRUTURA MAIN */
.main-container {
    display: grid;
    grid-template-columns: 260px 1fr;
    min-height: 100vh;
}

.content-area {
    display: flex;
    flex-direction: column;
}

.content-main {
    flex-direction: column;
    justify-content: space-between;
    margin: 46px;
}

/* FOOTER */
footer {
    background-color: var(--bg-card);
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
    color: #829ab1;
    border-top: 1px solid var(--border-color);
    margin-top: auto;
}

/* RESPONSIVIDADE */

@media (max-width: 768px) {
    .main-container {
        grid-template-columns: 1fr; /* Sidebar vai para cima ou deixa de ocupar coluna fixa */
    }

    .sidebar {
        padding: 20px;
    }

    .content-main {
        margin: 20px; 
    }

    main {
        padding: 0;
    }
}