.content-area {
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
}

/* NAVBAR */

.navbar {
    display: flex;
    align-items: center;
    background: var(--primary-color);
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-logo {
    flex: 1;
}

.nav-links {
    flex: 2;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.perfil {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.perfil a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-logo a {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #dbcbe6;
}

/* SLIDER */

.slider {
    margin: 80px auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.slides {
    width: 400%;
    height: 100%;
    display: flex;
}

.slides input {
    display: none;
}

.slide-img {
    width: 25%;
    transition: 2s;
}

.slide-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: white;
}

#radio1:checked~.slide-img:first-of-type {
    margin-left: 0;
}

#radio2:checked~.slide-img:first-of-type {
    margin-left: -25%;
}

#radio3:checked~.slide-img:first-of-type {
    margin-left: -50%;
}

#radio4:checked~.slide-img:first-of-type {
    margin-left: -75%;
}

.navigation-auto div {
    border: 2px solid;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: white;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: white;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: white;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background-color: white;
}

/* dropdown de categorias */

#category-list {
    padding: 8px 14px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    margin-top: 75px;
}

/* lista de produtos */

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.section-header h1 {
    font-size: 2rem;
    margin: 0;
}

.section-header a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1rem;
    transition: color 0.3s ease;
}

.section-header a:hover {
    font-weight: bold;
    text-decoration: underline;
}

/* CARDS DOS PRODUTOS */

#products-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 80px;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.product-card {
    background: #fff;
    padding: 15px;
    width: 280px;
    height: 380px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.product-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.12);
}

.product-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
}

.product-card h3 {
    font-size: 1.1rem;
    margin: 10px 0 5px 0;
}

.product-card h4 {
    font-size: .9rem;
    margin: 5px 0;
    color: rgb(85, 85, 85);
}

.card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.price {
    color: #27ae60;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 10px 0;
    display: block;
}

.product-card button {
    background: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 15px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    margin-top: auto;
}

.product-card button:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
}

/* CATEGORIAS */

.category-section {
    padding: 40px 20px;
}

#category {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 40px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.category-card {
    background: #fff;
    padding: 15px;
    width: 198px;
    height: 198px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.category-card img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    /* Garante que a imagem não distorça */
    margin-bottom: 15px;
}

.category-card h3 {
    font-size: 1.1rem;
    margin: 0;
    color: #444;
    font-weight: 600;
}

.category-card-link:hover .category-card {
    transform: translateY(-6px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.12);
}