.products-section,
.registered-products {
    background-color: var(--light-navy);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid var(--border-color);
    box-shadow: 0 4px 4px rgba(28, 58, 90, 0.1);
}

.product-card {
    display: block;
    padding: 20px;
}

.product-card h3 {
    margin-bottom: 20px;
}

.registered-products h3 {
    margin-bottom: 20px;
}

/* FORMULÁRIO */

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.form-group:nth-child(3) {
    grid-column: 1 / -1;
}

input[type="text"],
input[type="number"] {
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    font-size: 1rem;
}

button[type="submit"] {
    grid-column: 1 / -1;
    width: 100%;
    background-color: var(--terracotta-orange);
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #dd6a53;
}

/* TABELA DE PRODUTOS */

.products-table {
    width: 100%;
}

.products-table th,
.products-table td {
    padding: 15px;
    text-align: left;
}

.products-table tbody tr:not(:last-child) td {
    border-bottom: 1px solid #ddd;
}

/* AÇÕES */

.product-actions {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.product-actions button {
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn-edit {
    color: #fff;
    background-color: blue;
}

.btn-edit:hover {
    background-color: #3b82f6;
}

.btn-delete {
    color: #fff;
    background-color: red;
}

.btn-delete:hover {
    background-color: #ef4444;
}